* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.03);
}

:root {
  font-size: 10px;
}

button:focus,
input:focus,
select:focus,
video:focus {
  outline: none;
}

/********* HEADER STYLES *********/

#header {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 5;
}

#headerContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#appName {
  margin: 0.8rem 0;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-size: 2.7rem;
  font-weight: 400;
}

#search {
  padding: 0.7rem 1rem;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 20%;
  text-align: center;
  font-family: FontAwesome, Arial;
}

#search::placeholder {
  text-align: center;
}

.pages {
  display: flex;
}

.pageBtn {
  background: transparent;
  border: none;
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.pageBtn:hover {
  transform: scale(1.2);
}

.pageIcon {
  font-size: 22px;
  color: black;
}

#accountPic {
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
}

/************ PROFILES STYLES *************/

#profile {
  margin: 5rem auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 60%;
  height: 21rem;
  margin-bottom: 0;
}

#profileContainer {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

#profilePhoto {
  max-width: 15rem;
  height: 15rem;
  flex: 1;
  margin-right: 11.2rem;
  margin-left: 1.6rem;
}

#profilePhotoImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#profileData {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#handle {
  display: flex;
  align-items: center;
}

#handleName {
  font-size: 4rem;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  margin-right: 1rem;
}

.followBtn {
  font-size: 1.44rem;
  font-weight: 600;
  padding: 0.64rem 2rem;
  border-radius: 3px;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  margin: 0 1rem;
  color: white;
  background-color: rgb(0, 132, 255);
}

.messageBtn {
  background-color: #e5e5e5;
  border: none;
  border-radius: 3px;
  padding: 0.64rem 2rem;
  font-weight: 600;
  font-size: 1.44rem;
  margin-right: 1rem;
  cursor: pointer;
}

.dropdownBtn {
  background-color: rgb(0, 132, 255);
  color: white;
  border: none;
  padding: 0.68rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}

.followBtn:hover {
  background-color: rgb(0, 100, 255);
  transform: scale(1.05);
}

.messageBtn:hover,
.dropdownBtn:hover {
  background-color: #cccccc;
  transform: scale(1.05);
}

.activeFollowBtn {
  background-color: #e5e5e5;
  color: black;
}

.activeFollowBtn:hover {
  background-color: #cccccc;
}

#accountDetails {
  display: flex;
}
.accountDetailContainer {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  margin-right: 4rem;
}

.accountDetail {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0.5rem;
}

#userDetails {
  font-size: 1.6rem;
  line-height: 2.2rem;
}
#username {
  font-weight: 700;
}

#designation {
  color: rgba(0, 0, 0, 0.5);
}

#websiteLink {
  color: rgb(0, 51, 109);
  text-decoration: none;
  font-weight: bolder;
}

/*********** MENU STYLES *********/
#menu {
  width: 60%;
  margin: 0 auto;
}

#menuContainer {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.menuPage {
  background: transparent;
  font-size: 1.36rem;
  border: none;
  padding: 1.6rem;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.menuIcon {
  margin-right: 7px;
  font-size: 1.6rem;
  pointer-events: none;
}

.menuPage:hover {
  color: rgba(0, 0, 0, 0.6);
}

.menuPage.active {
  color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

/********* POSTS STYLES *********/

.photos {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.photosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
  grid-auto-rows: 34rem;
  grid-gap: 2.5rem;
}

.photoImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.photo {
  width: 100%;
  height: 34rem;
}

.likesAndComments {
  position: absolute;
  top: 47%;
  left: 32%;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 3;
}

.photoHoverBtn {
  background: transparent;
  border: none;
  font-size: 1.9rem;
  font-weight: 500;
  color: white;
  margin-right: 2rem;
  cursor: pointer;
}

.photoHoverBtn:hover {
  transform: scale(1.1);
}

.phoHoverBtn:nth-child(2) {
  margin-right: 0;
}

.photoHoverIcon {
  margin-right: 0.7rem;
  font-weight: 700;
  pointer-events: none;
}

.numberOfCounts {
  pointer-events: none;
}

.activeLikeIcon {
  color: red;
}

.activeCommentIcon {
  color: green;
}

.photoImage:hover {
  opacity: 0.7;
  transform: scale(1.02);
}

.photoImage:hover .likesAndComments {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}

/*********** FOOTER STYLES **********/

#footerContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.44rem;
  margin-bottom: 6rem;
}

#listsOfInfo {
  list-style: none;
}

.infoPage {
  display: inline-block;
  margin-left: 2rem;
}

.infoPageLink {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.infoPageLink:hover {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 800;
}

#listOfInfo li:nth-child(1) {
  margin-left: 0;
}

#languages {
  display: flex;
  margin-top: 2rem;
}

#selectLanguages {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 2.5rem;
}

#selectLanguages:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}
